[Unit]
Description=write RaspberryPi SD easiry
After=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/pisdwriter --daemon
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target